@font-face {
  font-family: "Circular";
  src: local("Circular"),
      url("./assets/fonts/CircularStd-Book.woff2") format("woff2"),
      url("./assets/fonts/CircularStd-Book.woff") format("woff"),
      url("./assets/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularMedium";
  src: local("CircularMedium"),
      url("./assets/fonts/CircularStd-Medium.woff2") format("woff2"),
      url("./assets/fonts/CircularStd-Medium.woff") format("woff"),
      url("./assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-variant: none!important;
}

.awesomebugs {
  height: 100%;
  display: flex;
  font-family: "Circular";
}

.division {
  float: none;
  margin: 0 auto 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.division .line {
  border-top: 1px solid #c0c0c0;
  position: absolute;
  top: 10px;
  width: 34%;
}

.division .line.l {
  left: 0;
}

.division .line.r {
  right: 0;
}

.table-content-author .form-login hr {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}

.table-content-author .table {
  color: #fff;
}

.table-content-author .table a {
  color: #fff;
}


.table-content-author .my-table>tbody>tr {
  border-style: hidden;
  border-top: 0px;
  font-size: 15px;
}

.table-content-author .bottom-description {
  width: 100%;
  color: white;
  font-style: italic;
}

.table-content-author {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Tablet */
@media (min-width: 379px) and (max-width: 1023px) {
  .ant-layout-sider {
    display: none;
  }
}

/* Mobile */
@media (max-device-width: 480px) {
  .ant-layout-sider {
    display: none;
  }
  .form-login h3 {
    font-size: 18px!important;
  }
  .form-login .w-50 {
    width: 70%!important;
  }
}

.awesomebugs-loading {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesomebugs-loading i.ant-spin-dot-item {
  width: 30px!important;
  height: 30px!important;
}

.awesomebugs-loading span.ant-spin-dot.ant-spin-dot-spin {
  font-size: 60px;
}

.error404-category-list i {
  font-size: 25px;
}
.error404-category-list button.error404-button-category {
  min-width: 60px;
  min-height: 60px;
}

.sideBar {
  height: 100%;
  background-color: #065fd4;
  transition: 0.2s;
}

.sideBar .fa {
  font-size: 20px !important;
}

.sideBar .logo {
  height: 7%;
  margin: 20% 0;
  text-align: center;
}

.sideBar .logo img {
  text-align: center;
  height: 100%;
}

.sideBar:hover {
  width: 15%;
}

.sideBar:hover .sideBar-top .sideBar-icon:first-child {
  padding: 0 40%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) {
  padding: 0;
  padding-left: 5%;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.sideBar:hover .sideBar-top .sideBar-icon:not(:first-child) .svg-inline--fa {
  margin-right: 10px;
}

.sideBar:hover .sideBar-bottom {
  left: 0%;
  width: 100%;
}

.sideBar:hover .sideBar-bottom .svg-inline--fa {
  margin-right: 10px;
}

.sideBar:hover .sideBar-bottom .title {
  opacity: 1;
  color: white;
  font-weight: 500;
}

.sideBar .sideBar-icon {
  margin-bottom: 20%;
}

.sideBar .sideBar-icon .svg-inline--fa {
  color: white;
}

.sideBar .sideBar-icon .title {
  opacity: 0;
}

.sideBar .sideBar-top .sideBar-icon:first-child {
  padding-top: 20%;
  font-size: 25px;
}

.sideBar .sideBar-bottom {
  position: absolute;
  bottom: 3%;
  left: 8%;
}

.sideBar .sideBar-icon {
  padding: 0 18%;
}

.sideBar .sideBar-icon:not(:first-child) {
  padding: 0 30%;
  height: 30px;
}

/* Menu */
.menu {
  height: 100%;
  min-width: 250px;
  background-color: #f4f5f7;
}

.menu .account {
  display: flex;
  padding: 9% 17% 1% 17%;
}

.menu .account .avatar {
  margin-right: 10px;
}

.menu .account .account-info {
  text-align: left;
}

.menu .account .account-info p:first-child {
  margin-bottom: 3px;
  font-weight: 500;
}

.menu .account .account-info p:last-child {
  margin-top: 0px;
  font-weight: 300;
}

.menu .control {
  padding: 0% 5%;
  text-align: left;
  padding-bottom: 8%;
  border-bottom: 2px solid #c4c5c6;
  margin-left: 7%;
  margin-right: 7%;
}

.menu .control a {
  padding: 5% 5%;
  cursor: pointer;
}

.menu .control a span:first-child {
  margin-right: 10px;
}

.menu .control a span:first-child:focus {
  background-color: #ebecf0;
}

.menu .control a:focus {
  color: royalblue;
}

.menu .feature {
  padding: 0% 5%;
  text-align: left;
  margin: 8% 7%;
}

.menu .feature a {
  padding: 5% 5%;
  cursor: pointer;
}

.menu .feature a .svg-inline--fa {
  margin-right: 5px;
}

.menu .feature a span {
  font-size: 14px;
}

.main {
  margin-left: 330px;
  padding-left: 2%;
  width: 75%;
}

.header {
  margin-top: 3%;
}

.awesomebugs .header .breadcrumb {
  margin-bottom: 0px;
  padding-left: 0px;
}

.awesomebugs .header h3 {
  margin-bottom: 20px;
}

.awesomebugs .info .search-block {
  position: relative;
}

.awesomebugs .info .search-block .search {
  height: 32px;
  width: 200px;
  background-color: rgb(250, 251, 252);
  border: 2px solid rgb(223, 225, 230);
  border-radius: 3px;
  padding-left: 32px;
}

.awesomebugs .info .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 23%;
  color: #67748b;
}

.awesomebugs .info .avatar-group {
  margin-left: 20px;
}

.avatar-group .avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 50%;
}

.avatar img {
  width: 40px;
  border: 1px solid transparent;
  height: 40px;
}

.awesomebugs .info .text {
  text-align: center;
  line-height: 35px;
}

.awesomebugs .content {
  margin-top: 20px;
}

.awesomebugs .content .card {
  width: 17rem;
  height: auto;
  margin-right: 10px;
  background-color: #f4f5f7;
}

.awesomebugs .content .card .card-header {
  border: none;
  background-color: transparent;
  color: #5e6c84;
}

.awesomebugs .content .card .list-group {
  border: none;
}

.awesomebugs .content .card .list-group .list-group-item {
  margin: 5px;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  cursor: pointer;
}

.list-group-item p {
  font-size: 14px;
}

.list-group-item .block {
  justify-content: space-between;
}

.list-group-item .block .block-left {
  line-height: 40px;
}

.list-group-item .block .block-left .svg-inline--fa {
  margin-right: 5px;
}

.fa-bookmark {
  color: #5fb03e;
}

.fa-check-square {
  color: #4fade6;
}

.fa-exclamation-circle {
  color: #e44d42;
}

/* Modal */
.modal-search {
  margin: 0px !important;
}

.modal-search .modal-content {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100vh;
}

.modal-search .modal-content .modal-header {
  border-bottom: none;
}

.modal-search .modal-content .modal-header .search-block {
  position: relative;
  width: 100%;
}

.modal-search .modal-content .modal-header .search-block .search {
  height: 32px;
  border: none;
  border-bottom: 2px solid #7094ce;
  padding-left: 32px;
  width: 100%;
}

.modal-search .modal-content .modal-header .search-block .fa-search {
  position: absolute;
  left: 5%;
  top: 23%;
  color: #67748b;
}

.modal-search .modal-body div {
  height: 50px;
}

.modal-search .modal-body div .icon {
  padding: 3% 0px;
  margin-right: 15px;
}

.modal-search .modal-body div div p {
  margin: 0;
  font-size: 16px;
}

.modal-search .modal-body div div p:last-child {
  color: grey;
}

/* Modal Info */
.modal-info {
  max-width: 1000px !important;
}

.modal-info .modal-content {
  padding: 20px 24px;
}

.modal-info .modal-content .modal-header {
  padding: 1rem 2rem;
  border-bottom: none;
}

.modal-info .modal-content .modal-body {
  padding-top: 0;
}

.task-title {
  margin-left: -15px;
}

.task-title:hover {
  background: rgb(223, 225, 230);
}

.task-title span {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgb(94, 108, 132);
}

.task-title .ant-select-arrow {
  display: none;
}

.task-click div span {
  padding-right: 20xp;
}

.fa-trash-alt {
  width: 20px !important;
  height: 20px;
}

.task-click .close {
  padding-bottom: 16px !important;
}

.modal-info .modal-body .issue {
  font-size: 20px;
  font-weight: 500;
}

.modal-info .modal-body .description p:first-child {
  margin-bottom: 5px;
}

.input-comment {
  width: 100%;
}

.input-comment input {
  width: 100%;
  height: 45px;
  padding: 10px;
}


.col-4 h6 {
  font-size: 13px;
}

.status .custom-select {
  height: 35px;
  background: #dcdfe4;
  margin-bottom: 20px;
}

.item {
  margin-right: 20px;
  background: white;
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background: #DFE1E6;
}

.item .name {
  margin: 0;
}

.reporter .item {
  width: fit-content;
}

.reporter {
  margin-bottom: 20px;
}

.time-tracking {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ced4da;
}

.time-tracking .fa-clock{
  margin-right: 10px;
}

.time-tracking .progress{
  height: 5px!important;
  width: 100%;
  margin-top: 4px;
}

.time-tracking .logged, .estimate-time{
  font-size: 14px;
}

.estimate .form-control {
  height: 31px;
  border-radius: 0;
}

a.awesomebugs-menu-item {
  display: block;
  color: inherit;
}

.activeNavlink,
a.awesomebugs-menu-item:hover {
  background: rgb(235, 236, 240);
  color: inherit;
}

a.awesomebugs-menu-item i {
  font-size: medium;
  margin-right: 5%;
}

a.awesomebugs-menu-item.activeNavlink {
  color: #0052CC;
  background: rgb(235, 236, 240);
}

.form-create-project button {
  background-color: #0052CC;
  color: white;
}

.form-create-project label {
  display: block;
  padding-bottom: 5px;
  color: rgb(94, 108, 132);
  font-weight: normal;
  font-size: 13px;
}

.form-create-project .form-group {
  margin-bottom: 20px;
}

.table-project-management {
  margin-top: 3%;
  padding: 0 3%;
  margin-left: 330px;
}

.table-project-management .html-description p{
  margin-bottom: 0;
}

.table-project-management .action-icon {
  cursor: pointer;
  vertical-align: middle;
  display: table-cell;
}

.table-project-management .btn-add-member {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.action-delete-member-icon {
  cursor: pointer;
  vertical-align: super;
}

.main .project-description {}

.form-create-task .ant-slider {
  margin: 2px 0;
}

.form-create-task .text-time-tracking {
  font-size: 12px;
}

.assignees .row {
  margin-left: 0;
}

.assignees .card-assignees {
  margin: 0 5px 5px 0;
  cursor: pointer;
}

.assignees .card-assignees:hover {
  background: rgb(223, 225, 230);
}

.assignees .card-assignees .ant-card-body {
  padding: 5px;
}

.assignees .card-assignees .ant-card-meta-avatar {
  padding-right: 5px;
  padding-top: 5px;
}

.assignees .card-assignees .ant-card-meta-title {
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
}

.assignees .card-assignees .ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0;
}

.assignees .card-assignees .ant-card-meta-description {
  color: #172b4d;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.add-more-assignees .ant-select-arrow {
  display: none;
}

.add-more-assignees span.ant-select-selection-placeholder {
  font-family: 'CircularMedium';
  color: rgb(0, 82, 204);
}

.dropdown-add-more-assignees {
  min-width: 200px!important;
}

#infoModal {
  font-family: CircularMedium;
}

.lastest-comment .comment-item p {
  margin: 0;
}

.lastest-comment .action-comment span {
  margin-right: 12px;
  display: inline-block;
  padding: 2px 0px;
  color: rgb(94, 108, 132);
  font-size: 14.5px;
  cursor: pointer;
  user-select: none;
}

.lastest-comment .action-comment span:hover {
  text-decoration: underline;
}

.div-avatar img {
  width: 32px;
  height: 32px;
}

.ant-notification {
  z-index: 99999!important;
}

.task-modal-click {
  display: flex;
}

.task-modal-click div {
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
}

.task-modal-click div:hover {
  background: rgb(235, 236, 240);
}

.form-signup .ant-form-item {
  margin-bottom: 15px;
}

.form-signup .navlink-login:hover {
  text-decoration: underline;
}
